<!DOCTYPE html> <!--ให้รู้ว่าเป็นhtml-->
<html lang="en">  <!-- lang บอกภาษา คือกำหนดภาษาหลักให้กับเว็บไซต์-->
<haed>
	<meta charset="UTF-8"> <!--กำหนดไว้เพื่อให้อ่านภาษาไทยได้-->
	<title>CMM 19</title> <!--แทบบนเปนไตเตล-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> <!--โหลดcssเข้ามา หรอว่ะ-->
	<link rel="stylesheet" href="/assets/home.css">
</head>
<body>
	<header>
		<div class="has-text-centered"> <!--ง่าย ไว้ใช้ไม่รู้จะใส่แทกอะไร-->
		<img src="/assets/images/logo.png" alt="" width="145" height="auto">
		<nav class="navbar-tabs">
			<a href="#" class="navbar-item">WORK</a>
			<a href="#" class="navbar-item">INTERVIEW</a>
			<a href="#" class="navbar-item">LIVING</a>
			<a href="#" class="navbar-item">SOCIAL</a>
			<a href="#" class="navbar-item">TRAVEL</a>
			<a href="#" class="navbar-item">VIDEO</a>
			<a href="#" class="navbar-item">ACTIVITIES</a>
			<a href="#" class="navbar-item">MAGZINE</a>	
		</nav>
	</header>

	<main>
		<section class="banner">
			<div class="highlight">
				<div class="columns">
					<div class="column highlight-item">
						<h1>อดีตกาล</h1> 
					</div>
				</div>
			</div>

		<div class="thumbnail">
			<div class="columns is-marginless">
				<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
					<h3>Supanid</h3>
					</div>
				<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
					<h3>Dangpraserd</h3>
					</div>
				<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
					<h3>Love</h3>
					</div>
				<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
					<h3>Atilla ♥</h3>
					</div>
			</div>
		</div>

		</section>

		<section class="section we-present"> <!--section new-->
			<div class="container"> <!--ครอบกรอบไวใหไมเกน-->
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTET</a>
					</div>
					<div class="column has-text-centered">
						WE PRESENT
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>
			
				<div class="columns is-multiline"> <!--พอสดขอบคอลัม ใหตกขอบ-->
					<a href="#" class="column is-one-third"> <!--แบ่ง1ใน3 เทากบ4-->
						<div class="card">
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-space is-4">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</h3>
								<h4 class="subtitle is-6">เรื่องของสุภนิจ</h4>
								<p>
									porporporporporporporporporporporporporpor
									sususususususususususususususus
									ppppppppppp
									ssssss
									s
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third"> <!--แบ่ง1ใน3 เทากบ4-->
						<div class="card">
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="assets/images/home/we-preset/img-2.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-space is-4">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</h3>
								<h4 class="subtitle is-6">เรื่องของสุภนิจ</h4>
								<p>
									porporporporporporporporporporporporporpor
									sususususususususususususususus
									ppppppppppp
									ssssss
									s
								</p>
							</div>
						</div>
					</a>	
					<a href="#" class="column is-one-third"> <!--แบ่ง1ใน3 เทากบ4-->
						<div class="card">
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="assets/images/home/we-preset/img-3.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-space is-4">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</h3>
								<h4 class="subtitle is-6">เรื่องของสุภนิจ</h4>
								<p>
									porporporporporporporporporporporporporpor
									sususususususususususususususus
									ppppppppppp
									ssssss
									s
								</p>
							</div>
						</div>
					</a>	
					<a href="#" class="column is-one-third"> <!--แบ่ง1ใน3 เทากบ4-->
						<div class="card">
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="assets/images/home/we-preset/img-4.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-space is-4">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</h3>
								<h4 class="subtitle is-6">เรื่องของสุภนิจ</h4>
								<p>
									porporporporporporporporporporporporporpor
									sususususususususususususususus
									ppppppppppp
									ssssss
									s
								</p>
							</div>
						</div>
					</a>
					<a href="#" class="column is-one-third"> <!--แบ่ง1ใน3 เทากบ4-->
						<div class="card">
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="assets/images/home/we-preset/img-5.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-space is-4">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</h3>
								<h4 class="subtitle is-6">เรื่องของสุภนิจ</h4>
								<p>
									porporporporporporporporporporporporporpor
									sususususususususususususususus
									ppppppppppp
									ssssss
									s
								</p>
							</div>
						</div>
					</a>	
					<a href="#" class="column is-one-third"> <!--แบ่ง1ใน3 เทากบ4-->
						<div class="card">
							<div class="card-image">
								<figure class="images is-3by2">
									<img src="assets/images/home/we-preset/img-6.jpg" alt="image-1">
								</figure>
							</div>
							<div class="card-content">
								<h5 class="category">Public Space</h5>
								<h3 class="title is-space is-4">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit.
								</h3>
								<h4 class="subtitle is-6">เรื่องของสุภนิจ</h4>
								<p>
									porporporporporporporporporporporporporpor
									sususususususususususususususus
									ppppppppppp
									ssssss
									s
								</p>
							</div>
						</div>
					</a>	

				</div>
			</div>	
		</section>
	</main>

</body>
</html>
                                                                                  